.section-subscribe {
    background: #171819;
}

.section-subscribe-body {
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;

}

.section-subscribe-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2em;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.input_email{
    width: 30.5em;
    height: 4em;
    border: 0;
}

.button {
    @include buttom;
}

.button-subscribe-text {
    @include buttom-text;
}


